---
layout: layout
priority: 1
---
<% set_meta_tags(:description => I18n.translate("index.meta_description"), :site => I18n.translate("index.page_title")) %>

<% slot :masthead do %>
  <div class="hero">
    <div class="tagline">Grow online</div>
    <h1 class="peptalk"><%= I18n.t("index.peptalk").html_safe %></h1>
  </div>
<% end %>

<% masthead_image("v1571927405/substancelab-website/table") %>

<section id="company">
  <div class="container">
    <%= localized_partial("index/about_substance_lab") %>
  </div>
</section>

<section class="featured-work">
  <div class="container">
    <div class="projects">
      <% featured_projects.first(3).each_with_index do |project, index| %>
        <%= project_tile(project) %>
      <% end %>
    </div>
  </div>
</section>

<section class="quotes">
  <div class="container">
    <div class="sliding_quotes">
      <%= localized_partial("index/quotes") %>
    </div>
  </div>
</section>

<% if blog_articles.any? %>
  <section class="article-list">
    <div class="container">
      <h2><%= I18n.t("index.blog_headline") %></h2>
      <div class="columns">
        <% blog_articles.first(2).each do |article| %>
          <div class="column">
            <a href="<%= article.relative_url %>" class="tile block-link">
              <div class="tile-image" style="background-image: url(<%= article_image(article, "t_tile_image") %>)"></div>
              <div class="tile-text">
                <h2 class="tile-title"><%= article.data.title %></h2>
                <p><%= strip_tags(article_summary(article)) %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<section id="person">
  <div class="container">
    <h2><%= I18n.t("index.the_team") %></h2>
    <%= partial "index/people_behind" %>
  </div>
</section>

<% slot :scripts do %>
  <%# TODO %>
  <script src="<%= asset_path(:js) %>"></script>
<% end %>
